body {
    width: 1170px;
    margin: auto;
}
.navbar-brand {
    color: #096C8D;
}
#hamburger {
    display: none;
}
#hamburger img{
    width: 50px;
    height: 50px;
}
#hamburger #close {
    display: none;
}
.navbar-collapse {
    display: flex;
    justify-content: flex-end;

}
.nav-link {
    margin-right: 15px;
    margin-left: 15px;
    color: #096C8D;
    transition: 0.1s;
}
.nav-link:hover {
    color: #EF5B16;
    background-color: #fff;
    border-style: solid;
    border-color: #EF5B16;
    border-radius: 20px;
}
#booking {
    background-color: #096C8D;
    width: 60%;
    padding: 20px 5px 20px 5px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;

}
#search {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}
#forms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
h5 {
    width: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
}
.form-group {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}
.form-control {
    border-radius: 0%;
    border-style: solid;
    border-color: #EF5B16;
}
.button {
    background-color: #EF5B16;
    color: white;
    width: 200px;
    border-style: solid;
    align-self: flex-end;
    margin-right: 20px;
    border-color: #EF5B16;
    border-radius: 3px;;
}
#dayOffer {
    background-image: url('https://i.picsum.photos/id/48/400/300.jpg?hmac=y-u71GyWu9Fus10ZnnUdhwDFX3pzuJSv8YfvN_Gc2yc');
    width: 40%;
    margin-left: 10px;
    padding: 20px 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
}
.price {
    background-color: #EFC716;
    width: 50px;
    align-self: flex-start;
    text-align: center;
}
#city {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.offers {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
}
#principal {
    height: 350px;
}
.offer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;margin-top: 10px;
    border-radius: 10px;
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    color: white;

}
.offer > h4 {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    color: #EF5B16;
    z-index: 1;
}
.price2 {
    background-color: #EFC716;
    width: 50px;
    align-self: flex-start;
    text-align: center;
    position: absolute;
    top: 60%;
    right: 10px;
    color: black;
    z-index: 1;
}
.hotel {
    position: absolute;
    top: 65%;
    margin-left: 10px;
    z-index: 1;
    font-weight: 500;
}
#photos .category {
    display: flex;
    flex-direction: row;
    align-self: baseline;
    margin-top: 20px;
    margin-bottom: -10px;
    
}
#photos .category #close1 {
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
    margin-left: 20px;
}
#photos .category #close1.show {
    transform: rotate(-90deg);
}
#other div {
    width: 23%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#other div img {
    width: 100%;
}
#other div #zoom {
    position: absolute;
    height: 25px;
    width: 25px;
}
.free {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;

}
.free .button {
    width: 400px;
}
.reassurance {
    display: flex;
    flex-direction: row;
    background-color: #096C8D;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 30px;
    align-items: center;
    padding-bottom: 30px;
}
.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;margin-top: 10px;
    align-items: center;
    transition: 0.5s;

}
.item:hover {
    color: white;
    transform: translateY(-20px);
}
.item img{
    width: 50px;
}
footer {
    display: flex;
    flex-direction: column;
}
.info {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
}
.links, .adress {
    list-style: none;
    padding-left: 0;
}
.info li a{
    color: #096C8D;
    text-decoration: none;
    transition: color 0.3s;
}
.info li a:hover {
    color: #EF5B16;
}
#banner {
    width: 100%;
    background-color: #EF5B16;
    height: 20px;
}
#destination {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
#photos {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 10px;
}

#presentation {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-left: 10px;
    justify-content: space-between;
}
#other {
    display: none;
}
#other.show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#other img {
    width: 23%;
    margin-top: 5px;margin-bottom: 5px;
}
.reserv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}
.reserv .price {
    display: none;
}
#price-remove .price {
    display: block;
}
.banner img {
    filter: brightness(0.3);
}
.banner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.banner h2 {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 60px;    
}
#description {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.category {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
.category div {
    border-left: 4px solid #EF5B16;
    height: 25px;
    margin-left: 0;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.category h5 {
    padding-left: 10px;
    border-left: 4px solid #EF5B16;
    height: 25px;
    margin-left: 0;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
#offer2 {
    width: 33%;
}
#contact {
    display: flex;
    flex-direction: row;
}
.contact-info {
    width: 50%;
    padding: 20px 5px 20px 5px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.contact-info .form-group {
    color: black;
}
#textArea {
    width: 100%;
}
.terms {
    line-height: normal;
}
@media (min-width: 990px) {
    #presentation {
        height: 300px;
    }
    .offer img:hover {
        background-color: transparent;
        filter: brightness(0.4) grayscale(100%);
    }
    .offer img {
        transition: filter 0.5s;
        border-radius: 8px;
    }
}
/* MOBILE */
@media (max-width: 990px) {
    #search, .info, #price-remove, #contact {
        flex-direction: column;
    }
    #destination {
        flex-direction: column-reverse;
    }
    .offer, .form-group, #booking, #dayOffer, #offer2, #photos, #presentation, .contact-info {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .offer, .offer h4, #dayOffer h5, #dayOffer h4 {
        font-size: 100px;
    }
    .price, .price2 {
        width: 225px;
    }
    .button {
        width: 80%;
        border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        align-self: center;
    }
    #booking, #booking h5, #contact, .free, .reserv{
        font-size: 60px;
    }
    .item img {
        width: 25%;
    }
    .info {
        align-items: center;
        text-align: center;
        font-size: 25px;
    }
    h6 {
        font-size: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .reserv .price {
        display: block;
    }
    #price-remove .price {
        display: none;
    }
    #presentation, .category {
        margin-bottom: 20px;
        font-size: 40px;
    }
    h2 {
        font-size: 80px;
    }
    .reassurance {
        font-size: 40px;
    }
    .navbar {
        justify-content: center;
    }
    .navbar img {
        width: 100px;
        height: 100px;
    }
    .navbar-brand {
        font-size: 100px;
    }
    #dayOffer {
        background-image: url("https://i.picsum.photos/id/48/990/990.jpg?hmac=Skciq4G1Z6BGcyUUSkCJRGXBVF4mbEijqrChdRLFji4");
        font-size: 100px;
        height: 990px;
        color: white;
    }
    .price {
        color: black;
    }
    .info, p, h4 {
        font-size: 40px;
    }
    .category {
        margin-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .category h5 {
        border-left: 10px solid #EF5B16;
        height: 80px;
        font-size: 80px;

    }
    input, select, #exampleInputOption {
        height: 100px;
    }
    .navbar {
        justify-content: space-between;
    }
    .navbar-collapse {
        display: none;
    }
    #hamburger {
        display: flex;
    }
    .navbar-collapse.show {
        display: flex;
        font-size: 40px;
        justify-content: center;
    }
    .navbar-nav {
        flex-direction: row;
    }
    #open.show {
        display: none;
    }
    #hamburger #close.show {
        display: flex;
        transform: rotate(-90deg);
    }
    .navbar-brand {
        justify-items: center;
    }
    #photos .category #close1 {
        width: 84px;
        height: 84px;
    }
}